@import "tailwindcss";

:root {
  --background: #fffcf4;
  --foreground: #262626;
  --primary: #185029;
  --secondary: #413a1a;
  --accent: #ee5c13;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --font-sans: var(--font-inter);
  --animate-marquee: marquee 1s linear infinite;
}

/* TODO: TA-05: Add dark mode */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

html,
body {
  overflow: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Helvetica, Arial, sans-serif;
  border-top: 9px solid #19502A;
  border-left: 9px solid #19502A;
  border-right: 9px solid #19502A;
  box-sizing: border-box;
}

@media (min-width: 640px) {
  body {
    border-top: 18px solid #19502A;
    border-left: 18px solid #19502A;
    border-right: 18px solid #19502A;
  }
}

@keyframes marquee {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 34px 0;
  }
}
